# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org
# Please download the correct plugin(https://editorconfig.org/#download) for
# your editor.

root = true

[*]
indent_style = space
indent_size = 2

# These are not recommended to change
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false